:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  font-size: 25px;
  font-weight: 500;
  color: #565df2;
  text-decoration: inherit;
  transition: color 0.25s;
}
a:hover {
  color: #646cff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  margin: 10px;
  border-radius: 8px;
  border: 2px solid transparent;
  width: 250px;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;    
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

form input {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #ccc;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  outline: none;
}

form select {
  padding: 10px 15px;
  border-radius: 8px;
  border: 2px solid #ccc;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  outline: none;
  color: #757587;
}
